<div class="row">

  <!-- Displaying Buttons to Manage Orders -->

  <div class="col-5">
    <div class="card my-5 ml-5 p-3 align-items-left">
      <div class="card-top my-3 ml-3 text-primary">
        <h3>Manage your Orders</h3>
      </div>

      <!-- <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn" name="placeTab" (click)="click(1)"><h5>Book Order</h5></button>
      <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn" name="changeTab" (click)="click(2)"><h5>Modify Orders</h5></button> -->
      <!-- <div class="dropdown">
        <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <h5>Search Orders</h5>
          <span class = "caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn" name="browseTab" (click)="click(3)"><h5>All Orders</h5></button></li>
          <li><button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn" name="browseTab" (click)="click(4)"><h5>By Order ID</h5></button></li>
          <li><button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn" name="browseTab" (click)="click(5)"><h5>By Billing Date</h5></button></li>
        </ul>
      </div> -->
      <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn"
        name="searchAllTab" type="button" (click)="click(1)">
        <h5>Browse All Orders</h5>
      </button>
      <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn"
        name="searchByIdTab" (click)="click(2)">
        <h5>Browse By Order ID</h5>
      </button>
      <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn"
        name="searchByBillTab" (click)="click(3)">
        <h5>Browse By Billing Date</h5>
      </button>
      <!-- <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn" name="cancelTab" (click)="click(6)"><h5>Cancel Order</h5></button> -->
      <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn"
        name="billTab" (click)="click(4)">
        <h5>Generate Bill</h5>
      </button>

    </div>
  </div>

  <div class="col-7" [ngSwitch]="openForm">

    <!-- Displaying All Orders -->

    <div *ngSwitchCase='1'>
      <div class="card my-5 mr-5 p-3">
        <div class="card-top my-3 mr-3 text-primary">
          <h4 id="heading">All Orders</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="allOrderForm" (ngSubmit)="getAllOrders(allOrderForm)">
            <div class="form-group">
              <button class="btn btn-primary mt-4 float-right">Get All Orders</button>
            </div>
          </form>
        </div>
        <div *ngIf="(orders.length)">
          <div class="card my-5 mr-5 p-3">

            <div *ngFor="let order of orders">

              <table class="table table-bordered">

                <tr>
                  <td><b>Order ID</b></td>
                  <td>{{order.id}}</td>
                </tr>

                <tr>
                  <td><b>Billing Date</b></td>
                  <td>{{order.billingDate}}</td>
                </tr>

                <tr>
                  <td><b>Customer ID</b></td>
                  <td>{{order.customer.userId}}</td>
                </tr>

                <tr>
                  <td><b>Customer Name</b></td>
                  <td>{{order.customer.name}}</td>
                </tr>

                <tr>
                  <td><b>Contact Number</b></td>
                  <td>{{order.customer.contactNo}}</td>
                </tr>

                <tr>
                  <td><b>Date of Birth</b></td>
                  <td>{{order.customer.dob}}</td>
                </tr>

                <tr>
                  <td><b>Customer Address</b></td>
                  <td>{{order.customer.address.doorNo}}, {{order.customer.address.street}},
                    {{order.customer.address.area}}, {{order.customer.address.city}}, {{order.customer.address.state}},
                    {{order.customer.address.pincode}}</td>
                </tr>

                <tr>
                  <td>
                    <div>
                <tr>
                  <td><b>Cars</b></td>
                </tr>
            </div>
            </td>

            <td>

              <div *ngFor="let cars of order.car" class="mb-2">

                <tr>
                  <td><b>Car ID</b></td>
                  <td>{{cars.id}}</td>
                </tr>
                <tr>
                  <td><b>Brand Name</b></td>
                  <td>{{cars.brand}}</td>
                </tr>
                <tr>
                  <td><b>Model Name</b></td>
                  <td>{{cars.model}}</td>
                </tr>
                <tr>
                  <td><b>Car Color</b></td>
                  <td>{{cars.color}}</td>
                </tr>
                <tr>
                  <td><b>Car Variant</b></td>
                  <td>{{cars.variant}}</td>
                </tr>
                <tr>
                  <td><b>Registration Year</b></td>
                  <td>{{cars.registrationYear}}</td>
                </tr>
                <tr>
                  <td><b>Registration State</b></td>
                  <td>{{cars.registrationState}}</td>
                </tr>
                <tr>
                  <td><b>Car Price</b></td>
                  <td>{{cars.price | currency:'INR'}}</td>
                </tr>
              </div>
            </td>
            </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Displaying Orders By ID -->

  <div *ngSwitchCase='2'>

    <div class="card my-5 mr-5 p-3">

      <div class="card-top my-3 mr-3 text-primary">
        <h4 id="heading">Browse By Order ID</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="byIdForm" (ngSubmit)="getOrderDetails(byIdForm)">
          <div class="form-group">
            <label for="id" class="mx-2">Order ID</label>
            <select class="form-control" formControlName="id">
              <option value="">Select Order ID</option>
              <option [value]="order.id" *ngFor="let order of orders">{{order.id}}</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary mt-3 shadow float-right" [disabled]="byIdForm.invalid">Search Order</button>
          </div>
        </form>
      </div>

      <div *ngIf="(order)">

        <table class="table table-bordered">

          <tr>
            <td><b>Order ID</b></td>
            <td>{{order.id}}</td>
          </tr>

          <tr>
            <td><b>Billing Date</b></td>
            <td>{{order.billingDate}}</td>
          </tr>

          <tr>
            <td><b>Customer ID</b></td>
            <td>{{order.customer.userId}}</td>
          </tr>

          <tr>
            <td><b>Customer Name</b></td>
            <td>{{order.customer.name}}</td>
          </tr>

          <tr>
            <td><b>Contact Number</b></td>
            <td>{{order.customer.contactNo}}</td>
          </tr>

          <tr>
            <td><b>Date of Birth</b></td>
            <td>{{order.customer.dob}}</td>
          </tr>

          <tr>
            <td><b>Customer Address</b></td>
            <td>{{order.customer.address.doorNo}}, {{order.customer.address.street}},
              {{order.customer.address.area}}, {{order.customer.address.city}}, {{order.customer.address.state}},
              {{order.customer.address.pincode}}</td>
          </tr>

          <tr>
            <td>
              <div>
          <tr>
            <td><b>Cars</b></td>
          </tr>
      </div>
      </td>

      <td>

        <div *ngFor="let cars of order.car" class="mb-2">

          <tr>
            <td><b>Car ID</b></td>
            <td>{{cars.id}}</td>
          </tr>
          <tr>
            <td><b>Brand Name</b></td>
            <td>{{cars.brand}}</td>
          </tr>
          <tr>
            <td><b>Model Name</b></td>
            <td>{{cars.model}}</td>
          </tr>
          <tr>
            <td><b>Car Color</b></td>
            <td>{{cars.color}}</td>
          </tr>
          <tr>
            <td><b>Car Variant</b></td>
            <td>{{cars.variant}}</td>
          </tr>
          <tr>
            <td><b>Registration Year</b></td>
            <td>{{cars.registrationYear}}</td>
          </tr>
          <tr>
            <td><b>Registration State</b></td>
            <td>{{cars.registrationState}}</td>
          </tr>
          <tr>
            <td><b>Car Price</b></td>
            <td>{{cars.price | currency:'INR'}}</td>
          </tr>
        </div>
      </td>
      </tr>
      </table>
    </div>
  </div>
</div>

<!-- Displaying Orders By Billing Date -->

<div *ngSwitchCase='3'>
  <div class="card my-5 mr-5 p-3">
    <div class="card-top my-3 mr-3 text-primary">
      <h4 id="heading">Browse By Billing Date</h4>
    </div>
    <form [formGroup]="byDateForm" (ngSubmit)="getByBillDate(byDateForm)">
      <div class="form-group">
        <label for="billDate" class="mx-2">Billing Date</label>
        <input formControlName="billingDate" id="billingDate" type="date" class="form-control"
          placeholder="Enter Billing Date" required autofocus />
      </div>
      <div class="form-group">
        <button class="btn btn-primary mt-3 shadow float-right" [disabled]="byDateForm.invalid">Search Order</button>
      </div>
    </form>

    <div *ngIf="(orders.length)">
      <div class="card my-5 mr-5 p-3">
        <div class="card-top my-3 mr-3 text-primary">
          <table class="table table-bordered">
            <tr>
              <th>Billing Date</th>
              <th>{{orders[0].billingDate}}</th>
            </tr>
          </table>
        </div>

        <div *ngFor="let order of orders">
          <table class="table table-bordered">
            <tr>
              <td><b>Order ID</b></td>
              <td>{{order.id}}</td>
            </tr>
            <tr>
              <td><b>Customer ID</b></td>
              <td>{{order.customer.userId}}</td>
            </tr>
            <tr>
              <td><b>Customer Name</b></td>
              <td>{{order.customer.name}}</td>
            </tr>
            <tr>
              <td><b>Contact Number</b></td>
              <td>{{order.customer.contactNo}}</td>
            </tr>
            <tr>
              <td><b>Date of Birth</b></td>
              <td>{{order.customer.dob}}</td>
            </tr>
            <tr>
              <td><b>Customer Address</b></td>
              <td>{{order.customer.address.doorNo}}, {{order.customer.address.street}},
                {{order.customer.address.area}}, {{order.customer.address.city}},
                {{order.customer.address.state}}, {{order.customer.address.pincode}}</td>
            </tr>

            <tr *ngIf="(order.car)">
              <td>
                <div>
            <tr>
              <td><b>Cars</b></td>
            </tr>
        </div>
        </td>
        <td>
          <div *ngFor="let cars of order.car" class="mb-2">
            <tr>
              <td><b>Car ID</b></td>
              <td>{{cars.id}}</td>
            </tr>
            <tr>
              <td><b>Brand Name</b></td>
              <td>{{cars.brand}}</td>
            </tr>
            <tr>
              <td><b>Model Name</b></td>
              <td>{{cars.model}}</td>
            </tr>
            <tr>
              <td><b>Car Color</b></td>
              <td>{{cars.color}}</td>
            </tr>
            <tr>
              <td><b>Car Variant</b></td>
              <td>{{cars.variant}}</td>
            </tr>
            <tr>
              <td><b>Registration Year</b></td>
              <td>{{cars.registrationYear}}</td>
            </tr>
            <tr>
              <td><b>Registration State</b></td>
              <td>{{cars.registrationState}}</td>
            </tr>
            <tr>
              <td><b>Car Price</b></td>
              <td>{{cars.price | currency:'INR'}}</td>
            </tr>

          </div>

        </td>
        </tr>

        </table>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Generating Bill -->

<div *ngSwitchCase='4'>
  <div class="card my-5 mr-5 p-3">
    <div class="card-top my-3 mr-3 text-primary">
      <h4 id="heading">Billing Section</h4>
    </div>
    <form [formGroup]="billForm" (ngSubmit)="getBill(billForm)">
      <div class="form-group">
        <label for="id" class="mx-2">Order ID</label>
        <select class="form-control" formControlName="id">
          <option value="">Select Order ID</option>
          <option [value]="order.id" *ngFor="let order of orders">{{order.id}}</option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-primary mt-3 shadow float-right" [disabled]="billForm.invalid">Generate Bill</button>
      </div>
    </form>
  </div>
</div>

</div>
</div>