<div class="row">
  <div class="col-5">
    <div class="card my-5 ml-5 p-3 align-items-left">
      <div class="card-top my-3 ml-3 text-primary">
        <h3>Manage your Orders</h3>
      </div>
        
      <!-- <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn" name="placeTab" (click)="click(1)"><h5>Book Order</h5></button>
      <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn" name="changeTab" (click)="click(2)"><h5>Modify Orders</h5></button> -->
      <!-- <div class="dropdown">
        <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <h5>Search Orders</h5>
          <span class = "caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn" name="browseTab" (click)="click(3)"><h5>All Orders</h5></button></li>
          <li><button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn" name="browseTab" (click)="click(4)"><h5>By Order ID</h5></button></li>
          <li><button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn" name="browseTab" (click)="click(5)"><h5>By Billing Date</h5></button></li>
        </ul>
      </div> -->
      <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn" name="searchAllTab" (click)="click(3)"><h5>Browse All Orders</h5></button>
      <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn" name="searchByIdTab" (click)="click(4)"><h5>Browse By Order ID</h5></button>
      <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn" name="searchByBillTab" (click)="click(5)"><h5>Browse By Billing Date</h5></button>
      <!-- <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn" name="cancelTab" (click)="click(6)"><h5>Cancel Order</h5></button> -->
      <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn" name="billTab" (click)="click(7)"><h5>Generate Bill</h5></button>    

    </div>
  </div>

  <div class="col-7" [ngSwitch]="openForm">
    <div *ngSwitchCase='1'>
      <div class="card my-5 mr-5 p-3 align-items-left" name="placeOrder">
        <div class="card-top my-3 mr-3 text-primary">
          <h4 id="heading">Book Order</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm)">
            <div class="form-group">
              <label for="id" class="mx-2">Order ID</label>
              <input formControlName="id" id="id" type="number" class="form-control" placeholder="Enter Order ID" required/>
            </div>
            <div class="form-group">
              <label for="billDate" class="mx-2">Billing Date</label>
              <input formControlName="billingDate" id="billingDate" type="date" class="form-control" required/>
            </div>
            <div class="form-group">
              <label for="userId" class="mx-2">User ID</label>
              <input formControlName="custId" id="custId" type="number" class="form-control" placeholder="Enter User ID" required/>
            </div>
            <div class="form-group">
              <label for="carId" class="mx-2">Car ID</label>
              <input formControlName="carId" id="carId" type="number" class="form-control" placeholder="Enter Car ID" required/>
            </div>
            <div class="form-group">
              <button class="btn btn-primary mt-3 shadow float-right" [disabled]="addForm.invalid">Place Order</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div *ngSwitchCase='2'>
      <div class="card my-5 mr-5 p-3 align-items-left">
        <div class="card-top my-3 mr-3 text-primary">
          <h4 id="heading">Modify Orders</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="modifyForm" (ngSubmit)="onSubmit(modifyForm)">
            <div class="form-group">
              <label for="id" class="mx-2">Order ID</label>
              <input formControlName="id" id="id" type="number" class="form-control" placeholder="Enter Order ID" required/>
            </div>
            <div class="form-group">
              <label for="billDate" class="mx-2">Billing Date</label>
              <input formControlName="billingDate" id="billingDate" type="date" class="form-control" required/>
            </div>
            <div class="form-group">
              <label for="userId" class="mx-2">User ID</label>
              <input formControlName="custId" id="userId" type="number" class="form-control" placeholder="Enter User ID" required/>
            </div>
            <div class="form-group">
              <label for="carId" class="mx-2">Car ID</label>
              <input formControlName="carId" id="carId" type="number" class="form-control" placeholder="Enter Car ID" required/>
            </div>
            <div class="form-group">
              <button class="btn btn-primary mt-3 shadow float-right">Modify Order</button>
            </div>
          </form>
        </div>
      </div>
      </div>

      <div *ngSwitchCase='3'>
        <div class="card my-5 mr-5 p-3">
        <div class="card-top my-3 mr-3 text-primary">
          <h4 id="heading">All Orders</h4>
      </div>
      <div class="card-body">
          <form [formGroup]="allOrderForm" (ngSubmit)="getAllOrders(allOrderForm)">
              <div class="form-group">
                  <button class="btn btn-primary mt-4 float-right">Get All Orders</button>
              </div>
          </form>
      </div>
      <div *ngIf="(orders.length)">
        <div class="card my-5 mr-5 p-3">
          <div class="card-top my-3 mr-3 text-primary">
            <h4 id="heading">All Orders</h4>
          </div>
          <form>
            <div *ngFor="let order of orders">
              <table class="table table-bordered">
                <tr>
                  <th>Order ID</th>
                  <td>{{order.id}}</td>
                </tr>
                <tr>
                  <th>Billing Date</th>
                  <td>{{order.billingDate}}</td>
                </tr>
                <tr>
                  <th>Customer ID</th>
                  <td>{{order.customer.userId}}</td>
                </tr>
                <tr>
                  <th>Customer Name</th>
                  <td>{{order.customer.name}}</td>
                </tr>
                <tr>
                  <th>Contact Number</th>
                  <td>{{order.customer.contactNo}}</td>
                </tr>
                <tr>
                  <th>Date of Birth</th>
                  <td>{{order.customer.dob}}</td>
                </tr>
                <tr>
                  <th>Customer Address</th>
                  <td>{{order.customer.address.doorNo}}, {{order.customer.address.street}}, {{order.customer.address.area}}, {{order.customer.address.city}}, {{order.customer.address.state}}, {{order.customer.address.pincode}}</td>
                </tr>
                <tr>
                    <th>Cars</th>
                    <th>
                        <tr *ngFor="let cars of order.car">
                            <tr>
                              <th>Car Id</th>
                              <td>{{cars.id}}</td>
                            </tr>
                            <tr>
                              <th>Brand Name</th>
                              <td>{{cars.brand}}</td>
                            </tr>
                            <tr>
                              <th>Model Name</th>
                              <td>{{cars.model}}</td>
                            </tr>
                            <tr>
                              <th>Car Color</th>
                              <td>{{cars.color}}</td>
                            </tr>
                            <tr>
                              <th>Car Variant</th>
                              <td>{{cars.variant}}</td>
                            </tr>
                            <tr>
                              <th>Car Price</th>
                              <td>{{cars.price}}</td>
                            </tr>
                            <tr>
                              <th>Registration Year</th>
                              <td>{{cars.registrationYear}}</td>
                            </tr>
                            <tr>
                              <th>Registration State</th>
                              <td>{{cars.registrationState}}</td>
                            </tr>
                        </tr>
                    
              </table>
          </div>
      </form>
        </div>
        </div>
      </div>
      </div>

      <div *ngSwitchCase='4'>
        <div class="card my-5 mr-5 p-3">
          <div class="card-top my-3 mr-3 text-primary">
            <h4 id="heading">Browse By Order ID</h4>
          </div>
          <form [formGroup]="byIdForm" (ngSubmit)="getOrderDetails(byIdForm)">
          <div class="form-group">
            <label for="id" class="mx-2">Order ID</label>
            <input formControlName="id" id="id" type="number" class="form-control" placeholder="Enter Order ID" required/>
          </div>
          <div class="form-group">
            <button class="btn btn-primary mt-3 shadow float-right">Search Order</button>
          </div>
        </form>

        <!-- table code -->
        <form>
            <div *ngIf="(order)">
              <table class="table table-bordered">
                <tr>
                  <th>Order ID</th>
                  <td>{{order.id}}</td>
                </tr>
                <tr>
                  <th>Billing Date</th>
                  <td>{{order.billingDate}}</td>
                </tr>
                <tr>
                  <th>Customer ID</th>
                  <td>{{order.customer.userId}}</td>
                </tr>
                <tr>
                  <th>Customer Name</th>
                  <td>{{order.customer.name}}</td>
                </tr>
                <tr>
                  <th>Contact Number</th>
                  <td>{{order.customer.contactNo}}</td>
                </tr>
                <tr>
                  <th>Date of Birth</th>
                  <td>{{order.customer.dob}}</td>
                </tr>
                <tr>
                  <th>Customer Address</th>
                  <td>{{order.customer.address.doorNo}}, {{order.customer.address.street}}, {{order.customer.address.area}}, {{order.customer.address.city}}, {{order.customer.address.state}}, {{order.customer.address.pincode}}</td>
                </tr>
                <tr>
                    <th>Cars</th>
                    <th>
                        <tr *ngFor="let cars of order.car">
                            <tr>
                              <th>Car Id</th>
                              <td>{{cars?.id}}</td>
                            </tr>
                            <tr>
                              <th>Brand Name</th>
                              <td>{{cars?.brand}}</td>
                            </tr>
                            <tr>
                              <th>Model Name</th>
                              <td>{{cars?.model}}</td>
                            </tr>
                            <tr>
                              <th>Car Color</th>
                              <td>{{cars?.color}}</td>
                            </tr>
                            <tr>
                              <th>Car Variant</th>
                              <td>{{cars?.variant}}</td>
                            </tr>
                            <tr>
                              <th>Car Price</th>
                              <td>{{cars?.price}}</td>
                            </tr>
                            <tr>
                              <th>Registration Year</th>
                              <td>{{cars?.registrationYear}}</td>
                            </tr>
                            <tr>
                              <th>Registration State</th>
                              <td>{{cars?.registrationState}}</td>
                            </tr>
                        </tr>
                    
              </table>
          </div>
      </form>

        </div>
      </div>

      <div *ngSwitchCase='5'>
        <div class="card my-5 mr-5 p-3">
          <div class="card-top my-3 mr-3 text-primary">
            <h4 id="heading">Browse By Billing Date</h4>
          </div>
          <form [formGroup]="byDateForm" (ngSubmit)="getByBillDate(byDateForm)">
          <div class="form-group">
            <label for="billDate" class="mx-2">Billing Date</label>
            <input formControlName="billingDate" id="billingDate" type="date" class="form-control" placeholder="Enter Billing Date" required/>
          </div>
          <div class="form-group">
            <button class="btn btn-primary mt-3 shadow float-right">Search Order</button>
          </div>
        </form>

        <!-- table code -->
        <div *ngIf="(orders.length)">
          <div class="card my-5 mr-5 p-3">
            <div class="card-top my-3 mr-3 text-primary">
              <table class="table table-bordered">
                <tr>
                  <th>Billing Date</th>
                  <th>{{orders[0].billingDate}}</th>
                </tr>
              </table>
            </div>
            <form>
              <div *ngFor="let order of orders">
                <table class="table table-bordered">
                  <tr>
                    <th>Order ID</th>
                    <td>{{order.id}}</td>
                  </tr>
                  <tr>
                    <th>Customer ID</th>
                    <td>{{order.customer.userId}}</td>
                  </tr>
                  <tr>
                    <th>Customer Name</th>
                    <td>{{order.customer.name}}</td>
                  </tr>
                  <tr>
                    <th>Contact Number</th>
                    <td>{{order.customer.contactNo}}</td>
                  </tr>
                  <tr>
                    <th>Date of Birth</th>
                    <td>{{order.customer.dob}}</td>
                  </tr>
                  <tr>
                    <th>Customer Address</th>
                    <td>{{order.customer.address.doorNo}}, {{order.customer.address.street}}, {{order.customer.address.area}}, {{order.customer.address.city}}, {{order.customer.address.state}}, {{order.customer.address.pincode}}</td>
                  </tr>
                  <tr *ngIf="(order.car)">
                      <th>Cars</th>
                      <th>
                          <tr *ngFor="let cars of order.car">
                              <tr>
                                <th>Car Id</th>
                                <td>cars.id</td>
                              </tr>
                              <tr>
                                <th>Brand Name</th>
                                <td>cars.brand</td>
                              </tr>
                              <tr>
                                <th>Model Name</th>
                                <td>cars.model</td>
                              </tr>
                              <tr>
                                <th>Car Color</th>
                                <td>cars.color</td>
                              </tr>
                              <tr>
                                <th>Car Variant</th>
                                <td>cars.variant</td>
                              </tr>
                              <tr>
                                <th>Car Price</th>
                                <td>cars.price</td>
                              </tr>
                              <tr>
                                <th>Registration Year</th>
                                <td>cars.registrationYear</td>
                              </tr>
                              <tr>
                                <th>Registration State</th>
                                <td>cars.registrationState</td>
                              </tr>
                          </tr>
                      
                </table>
            </div>
        </form>
          </div>
          </div>
        </div>
      </div>

      <div *ngSwitchCase='6'>
        <div class="card my-5 mr-5 p-3">
          <div class="card-top my-3 mr-3 text-primary">
            <h4 id="heading">Cancel Order</h4>
          </div>
          <form [formGroup]="cancelForm" (ngSubmit)="onSubmit(cancelForm)">
          <div class="form-group">
            <label for="id" class="mx-2">Order ID</label>
            <input formControlName="id" id="id" type="number" class="form-control" placeholder="Enter Order ID" required/>
          </div>
          <div class="form-group">
            <button class="btn btn-primary mt-3 shadow float-right" [disabled]="cancelForm.invalid">Cancel Order</button>
          </div>
        </form>
        </div>
      </div>

      <div *ngSwitchCase='7'>
        <div class="card my-5 mr-5 p-3">
          <div class="card-top my-3 mr-3 text-primary">
            <h4 id="heading">Billing Section</h4>
          </div>
          <form [formGroup]="billForm" (ngSubmit)="getBill(billForm)">
          <div class="form-group">
            <label for="id" class="mx-2">Order ID</label>
            <input formControlName="id" id="id" type="number" class="form-control" placeholder="Enter Order ID" required/>
          </div>
          <div class="form-group">
            <button class="btn btn-primary mt-3 shadow float-right">Generate Bill</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>

