<div class="animated ">

    <h2 class="mt-5">Enter Your Credentials</h2>
    <div class="container row mb-5" style="margin-top: 2%;">
        <div class="col-md-6">
            <fieldset>
                <form [formGroup]="loginForm">

                    <div class="col-md-11">

                        <div class="input-group mb-3 input-field">

                            <!-- <legend class="text-center">Enter Credentials <span class="req"></span></legend> -->

                            <span><img
                                    src="https://img.icons8.com/ios-filled/50/000000/username.png" /></span>&nbsp;&nbsp;
                            <input type="email" formControlName="email" placeholder="Email Address">
                        </div>

                        <div *ngIf="submitted && loginForm.controls.email.errors">
                            <div class="text-danger" *ngIf="loginForm.controls.email.errors.required">
                                Email is required ..!
                            </div>
                            <div class="text-danger" *ngIf="loginForm.controls.email.errors.email">
                                Invalid Email Address ..!
                            </div>
                        </div>

                    </div>


                    <div class="col-md-11">
                        <div class="input-group mb-3 input-field">
                            <span><img
                                    src="https://img.icons8.com/ios-filled/50/000000/password.png" /></span>&nbsp;&nbsp;
                            <input type="password" formControlName="password" placeholder="Password">
                        </div>

                        <div *ngIf="submitted && loginForm.controls.password.errors">
                            <div class="text-danger" *ngIf="loginForm.controls.password.errors.required">
                                Password is required ..!
                            </div>

                        </div>
                    </div>


                    <div>
                        <button class="loginButton" (click)="login()">Login</button>

                    </div>
                </form>
            </fieldset>
        </div>

    </div>
</div>