<!-- <p>car-update works!</p> -->

<div class="row">
    <div class="col-5">
        <div class="card my-5 ml-5 p-3 align-items-left">
            <div class="card-top my-3 ml-3 text-primary">
                <h3>Manage your Appointments</h3>
            </div>
            <div class="card shadow mb-3 bg-white rounded">

                <div class="card-body text-secondary">
                    <button class="btn" type="button" (click)="click(1)">
                        <h5>Get Car By Id</h5>
                    </button>
                </div>
            </div>
            <div class="card shadow mb-3 bg-white rounded">
                <div class="card-body text-secondary">
                    <button class="btn" type="button" (click)="click(2)">
                        <h5>Update Car Information</h5>
                    </button>
                </div>
            </div>

            <div class="card shadow mb-3 bg-white rounded">
                <div class="card-body text-secondary">
                    <button class="btn" type="button" (click)="click(3)">
                        <h5>Delete Car Information</h5>
                    </button>
                </div>
            </div>

            <div class="card shadow mb-3 bg-white rounded">
                <div class="card-body text-secondary">
                    <button class="btn" type="button" (click)="click(4)">
                        <h5>Add Car Information</h5>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="col-7" [ngSwitch]="openForm">
        <div class="card my-5 mr-5 p-3 align-items-left" *ngSwitchCase='1'>
            <div class="card-top my-3 mr-3 text-primary">
                <h4 id="heading">Get Car Details</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="carDetailForm" (ngSubmit)="getCarById(carDetailForm)">
                    <!-- (ngSubmit)="onSubmit(carDetailForm)" -->

                    <div>
                        <label for="Car Id" class="mx-2">Car ID:</label>
                        <input type="text" formControlName="id" class="form-control mb-1" placeholder="Car ID" required
                            autofocus>
                    </div>


                    <button class="btn btn-lg btn-primary btn-block mb-2 my-2" type="submit"
                        [disabled]="carDetailForm.invalid">Get Car
                    </button>
                </form>
            </div>

            <div *ngIf="(car)">
                <p class="mb-4 display-4" style="font-family: serif;">Car Details</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Car Id</th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Color</th>
                            <th>Price</th>
                            <th>Variant</th>
                            <th>Year</th>
                            <th>State</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{car.id}}</td>
                            <td>{{car.brand}}</td>
                            <td>{{car.model}}</td>
                            <td>{{car.color}}</td>
                            <td>{{car.price}}</td>
                            <td>{{car.variant}}</td>
                            <td>{{car.registrationYear}}</td>
                            <td>{{car.registrationState}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="card my-5 mr-5 p-3 align-items-left" *ngSwitchCase='2'>
            <div class="card-top my-3 mr-3 text-primary">
                <h4 id="heading">Update Car Information</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="carUpdateForm" (ngSubmit)="updateCarInfo(carUpdateForm)">

                    <div>
                        <label for="Id" class="mx-2">Car ID:</label>
                        <input type="number" formControlName="id" class="form-control mb-1" placeholder="Car ID"
                            required autofocus>
                    </div>
                    <div>
                        <label for="Brand" class="mx-2">Brand:</label>
                        <input type="text" formControlName="brand" class="form-control mb-1" placeholder="Brand name"
                            required>
                    </div>
                    <div>
                        <label for="Model" class="mx-2">Model</label>
                        <input type="text" formControlName="model" class="form-control mb-1" placeholder="Model name"
                            required>
                    </div>
                    <div>
                        <label for="Color" class="mx-2">Color:</label>
                        <input type="text" formControlName="color" class="form-control mb-1" placeholder="Model color"
                            required>
                    </div>
                    <div>
                        <label for="Variant" class="mx-2">Variant:</label>
                        <input type="text" formControlName="variant" class="form-control mb-1"
                            placeholder="Model variant" required>
                    </div>
                    <div>
                        <label for="Price" class="mx-2">Price:</label>
                        <input type="number" formControlName="price" class="form-control mb-1" placeholder="Price"
                            required>
                    </div>
                    <div>
                        <label for="State" class="mx-2">Registraion State:</label>
                        <input type="text" formControlName="registrationState" class="form-control mb-1"
                            placeholder="Registraion State" required>
                    </div>
                    <div>
                        <label for="Year" class="mx-2">Registration Year:</label>
                        <input type="date" formControlName="registrationYear" class="form-control mb-1"
                            placeholder="Registration Year" required>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block mb-2 my-2" type="submit"
                        [disabled]="carUpdateForm.invalid">Update Car Information</button>
                </form>
            </div>
        </div>

        <div class="card my-5 mr-5 p-3 align-items-left" *ngSwitchCase='3'>
            <div class="card-top my-3 mr-3 text-primary">
                <h4 id="heading">Delete Car Information</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="carDeleteForm" (ngSubmit)="deleteCarInfo(carDeleteForm)">

                    <div>
                        <label for="Id" class="mx-2">Car ID:</label>
                        <input type="number" formControlName="id" class="form-control mb-1" placeholder="Car ID"
                            required autofocus>
                    </div>


                    <button class="btn btn-lg btn-primary btn-block mb-2 my-2" type="submit"
                        [disabled]="carDeleteForm.invalid">Delete Car</button>
                </form>
            </div>
        </div>

        <div class="card my-5 mr-5 p-3 align-items-left" *ngSwitchCase='4'>
            <div class="card-top my-3 mr-3 text-primary">
                <h4 id="heading">Add Car Information</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="carAddForm" (ngSubmit)="addCarInfo(carAddForm)">

                    <div>
                        <label for="Id" class="mx-2">Car ID:</label>
                        <input type="number" formControlName="id" class="form-control mb-1" placeholder="Car ID"
                            required autofocus>
                    </div>
                    <div>
                        <label for="Brand" class="mx-2">Brand:</label>
                        <input type="text" formControlName="brand" class="form-control mb-1" placeholder="Brand name"
                            required>
                    </div>
                    <div>
                        <label for="Model" class="mx-2">Model</label>
                        <input type="text" formControlName="model" class="form-control mb-1" placeholder="Model name"
                            required>
                    </div>
                    <div>
                        <label for="Color" class="mx-2">Color:</label>
                        <input type="text" formControlName="color" class="form-control mb-1" placeholder="Model color"
                            required>
                    </div>
                    <div>
                        <label for="Variant" class="mx-2">Variant:</label>
                        <input type="text" formControlName="variant" class="form-control mb-1"
                            placeholder="Model variant" required>
                    </div>
                    <div>
                        <label for="Price" class="mx-2">Price:</label>
                        <input type="number" formControlName="price" class="form-control mb-1" placeholder="Price"
                            required>
                    </div>
                    <div>
                        <label for="State" class="mx-2">Registraion State:</label>
                        <input type="text" formControlName="registrationState" class="form-control mb-1"
                            placeholder="Registraion State" required>
                    </div>
                    <div>
                        <label for="Year" class="mx-2">Registration Year:</label>
                        <input type="date" formControlName="registrationYear" class="form-control mb-1"
                            placeholder="Registration Year" required>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block mb-2 my-2" type="submit"
                        [disabled]="carAddForm.invalid">Add Car</button>

                </form>
            </div>
        </div>
    </div>


</div>