<div class="container">
    <div class="my-4">
        <h1><i class="fa fa-user-circle" aria-hidden="true"></i> Admin Dashboard</h1>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-info">
                <div class="inner">
                    <h3> Manage Customers </h3>
                    <p> View And Update Customer Details </p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </div>
                <a href="#" routerLink='/customer' class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-success">
                <div class="inner">
                    <h3> Manage Appointments </h3>
                    <p> View, Update, Delete Appointment Details </p>
                </div>
                <div class="icon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <a href="#" routerLink='/appointment-admin' class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-orange">
                <div class="inner">
                    <h3> Manage Products </h3>
                    <p> View, Update, Delete Car Details </p>
                </div>
                <div class="icon">
                    <i class="fa fa-car" aria-hidden="true"></i>
                </div>
                <a href="#" routerLink='/carUpdate' class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-danger">
                <div class="inner">
                    <h3> Manage Payments </h3>
                    <p> View, Update, Delete Payment Details </p>
                </div>
                <div class="icon">
                    <i class="fa fa-inr"></i>
                </div>
                <a href="#" routerLink='/payment-admin' class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-primary">
                <div class="inner">
                    <h3> Manage Orders </h3>
                    <p> View, Update, Delete Order Details </p>
                </div>
                <div class="icon">
                    <i class="fa fa-cart-plus"></i>
                </div>
                <a href="#" routerLink='/order' class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>
