<div class="row">
    <div class="col-5">
        <div class="card my-5 ml-5 p-3 align-items-left">
            <div class="card-top my-3 ml-3 text-primary">
                <h3>Manage your Appointments</h3>
            </div>
            <div class="card shadow mb-3 bg-white rounded">

                <div class="card-body text-secondary">
                    <button class="btn" type="button" (click)="click(1)">
                        <h5>View All Appointments</h5>
                    </button>

                </div>

            </div>
            <div class="card shadow mb-3 bg-white rounded">
                <div class="card-body text-secondary">
                    <button class="btn" type="button" (click)="click(2)">
                        <h5>View Appointment BY ID</h5>
                    </button>
                </div>
            </div>
            <div class="card shadow mb-3 bg-white rounded">
                <div class="card-body text-secondary">
                    <button class="btn" type="button" (click)="click(3)">
                        <h5>Update Appointment</h5>
                    </button>
                </div>
            </div>
            <div class="card shadow mb-3 bg-white rounded">
                <div class="card-body text-secondary">
                    <button class="btn" type="button" (click)="click(4)">
                        <h5>Cancel Appointment</h5>
                    </button>
                </div>
            </div>
            <div class="card shadow mb-3 bg-white rounded">
                <div class="card-body text-secondary">
                    <button class="btn" type="button" (click)="click(5)">
                        <h5>View Home Appointments</h5>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- All Appointments Form Start here -->
    <div class="col-7" [ngSwitch]="openForm">
        <div class="my-5 mr-5 p-3 align-items-left" *ngSwitchCase='1'>
            <div class="card-top my-3 mr-3 text-primary">
                <h4 id="heading">All Appointments</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="allAppointmentForm" (ngSubmit)="onSubmit(allAppointmentForm)">
                    <button class="btn btn-lg btn-primary btn-block mb-2 my-2">View All Appointment</button>
                </form>
            </div>
            <div *ngIf="(appointments.length)">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Location</th>
                            <th>Inspection Type</th>
                            <th>Preferred Date</th>
                            <th>Preferred Time</th>
                            <th>Customer</th>
                            <th>Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let appointment of appointments">
                            <td>{{appointment.id}}</td>
                            <td>{{appointment.location}}</td>
                            <td>{{appointment.inspectionType}}</td>
                            <td>{{appointment.preferredDate}}</td>
                            <td>{{appointment.preferredTime}}</td>
                            <td>{{appointment.customer.userId}}</td>
                            <td>{{appointment.payment.id}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- View Appointments By Id Form Start here -->
        <div class="my-5 mr-5 p-3 align-items-left" *ngSwitchCase='2'>
            <div class="card-top my-3 mr-3 text-primary">
                <h4 id="heading">View Appointment By ID</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="byIDForm" (ngSubmit)="viewByID(byIDForm)">

                    <div>
                        <label for="id" class="mx-2">Appointment ID</label>
                        <select class="form-control" formControlName="id">

                            <option [value]="appointment.id" *ngFor="let appointment of appointments">{{appointment.id}}
                            </option>


                        </select>
                    </div>
                    <div class="text-danger" *ngIf="byIDForm.get('id').invalid && (byIDForm.get('id').touched)">
                        Please enter a valid id.
                    </div>

                    <button class="btn btn-lg btn-primary btn-block mb-2 my-2" type="submit"
                        [disabled]="byIDForm.invalid">View
                        Appointment</button>
                </form>
            </div>
            <div class="card-body" *ngIf="(app)">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Location</th>
                            <th>Inspection Type</th>
                            <th>Preferred Date</th>
                            <th>Preferred Time</th>
                            <th>Customer</th>
                            <th>Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{app.id}}</td>
                            <td>{{app.location}}</td>
                            <td>{{app.inspectionType}}</td>
                            <td>{{app.preferredDate}}</td>
                            <td>{{app.preferredTime}}</td>
                            <td>{{app.customer.userId}}</td>
                            <td>{{app.payment.id}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Update Appointments Form Start here -->
        <div class="card my-5 mr-5 p-3 align-items-left" *ngSwitchCase='3'>
            <div class="card-top my-3 mr-3 text-primary">
                <h4 id="heading">Update Appointment</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="updateForm" (ngSubmit)="onUpdate(updateForm)">
                    <div>
                        <label for="id" class="mx-2">Appointment ID</label>
                        <input type="number" formControlName="id" class="form-control mb-1" placeholder="Appointment ID"
                            required autofocus>
                    </div>

                    <div>
                        <label for="custId" class="mx-2">Customer ID</label>
                        <input type="number" formControlName="custId" class="form-control mb-1"
                            placeholder="Customer ID" required autofocus>
                    </div>
                    <div>
                        <label for="location" class="mx-2">Location</label>
                        <input type="text" formControlName="location" class="form-control mb-1" placeholder="Location"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="inspectionType" class="mx-2">Inspection Type</label>
                        <select class="form-control" formControlName="inspectionType">

                            <option value="home">home</option>
                            <option value="office">office</option>

                        </select>
                    </div>
                    <div>
                        <label for="preferredDate" class="mx-2">Preferred Date</label>
                        <input type="date" formControlName="preferredDate" class="form-control mb-1"
                            placeholder="Preferred Date" required>
                    </div>
                    <div>
                        <label for="preferredTime" class="mx-2">Preferred Time</label>
                        <input type="time" formControlName="preferredTime" class="form-control mb-1"
                            placeholder="Preferred Time" required>
                    </div>
                    <div>
                        <label for="payId" class="mx-2">Payment ID</label>
                        <input type="number" formControlName="payId" class="form-control mb-1" placeholder="Payment ID"
                            required>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block mb-2 my-2" type="submit"
                        [disabled]="updateForm.invalid">Update
                        Appointment</button>
                </form>
            </div>
        </div>

        <!-- Cancel Appointments Form Start here -->
        <div class="my-5 mr-5 p-3 align-items-left" *ngSwitchCase='4'>
            <div class="card-top my-3 mr-3 text-primary">
                <h4 id="heading">Cancel Appointments</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="cancelForm" (ngSubmit)="onCancel(cancelForm)">

                    <div>
                        <label for="id" class="mx-2">Appointment ID</label>
                        <select class="form-control" formControlName="id">

                            <option [value]="appointment.id" *ngFor="let appointment of appointments">{{appointment.id}}
                            </option>


                        </select>
                    </div>
                    <div class="text-danger" *ngIf="cancelForm.get('id').invalid && (cancelForm.get('id').touched)">
                        Please enter a valid id.
                    </div>
                    <button class="btn btn-lg btn-primary btn-block mb-2 my-2" type="submit"
                        [disabled]="cancelForm.invalid">Cancel
                        Appointment</button>
                </form>
            </div>
            <div class="card-body" *ngIf="(delete)">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Location</th>
                            <th>Inspection Type</th>
                            <th>Preferred Date</th>
                            <th>Preferred Time</th>
                            <th>Customer</th>
                            <th>Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{delete.id}}</td>
                            <td>{{delete.location}}</td>
                            <td>{{delete.inspectionType}}</td>
                            <td>{{delete.preferredDate}}</td>
                            <td>{{delete.preferredTime}}</td>
                            <td>{{delete.customer.userId}}</td>
                            <td>{{delete.payment.id}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Home Appointments Form Start here -->
        <div class="my-5 mr-5 p-3 align-items-left" *ngSwitchCase='5'>
            <div class="card-top my-3 mr-3 text-primary">
                <h4 id="heading">Home Appointments</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="openAppointmentForm" (ngSubmit)="viewOpen(openAppointmentForm)">
                    <button class="btn btn-lg btn-primary btn-block mb-2 my-2">View Home Appointments</button>
                </form>
            </div>
            <div *ngIf="(appointments.length)">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Location</th>
                            <th>Inspection Type</th>
                            <th>Preferred Date</th>
                            <th>Preferred Time</th>
                            <th>Customer</th>
                            <th>Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let appointment of appointments">
                            <td>{{appointment.id}}</td>
                            <td>{{appointment.location}}</td>
                            <td>{{appointment.inspectionType}}</td>
                            <td>{{appointment.preferredDate}}</td>
                            <td>{{appointment.preferredTime}}</td>
                            <td>{{appointment.customer.userId}}</td>
                            <td>{{appointment.payment.id}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>