<div class="row">
    <div class="col-5">
        <div class="card my-5 ml-5 p-3 align-items-left">
            <div class="card-top my-3 ml-3 text-primary">
                <h3>Manage Payments</h3>
            </div>

            <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn"
                name="getAllTab" (click)="click(1)">
                <h5>Browse All Payments</h5>
            </button>
            <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn"
                name="getByIdTab" (click)="click(2)">
                <h5>Browse Payments By Id</h5>
            </button>
            <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn"
                name="updateTab" (click)="click(3)">
                <h5>Update Payment</h5>
            </button>
            <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn"
                name="deleteTab" (click)="click(4)">
                <h5>Remove Payment</h5>
            </button>
        </div>
    </div>

    <div class="col-7" [ngSwitch]="openForm">
        <div *ngSwitchCase='1'>
            <div class="my-5 mr-5 p-3">
                <div class="card-top my-3 mr-3 text-primary">
                    <h4 id="heading">All Paymnet Details</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="getAllForm" (ngSubmit)="allPayment()">
                        <div class="form-group">
                            <button class="btn btn-primary mt-4">Get Payment Details</button>
                        </div>
                    </form>
                </div>
                <div class="card-body" *ngIf="(payments.length)">
                    <p class="mb-4 my-4 display-4">Payment details</p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Status</th>
                                <th>Type</th>
                                <th>Card Holder</th>
                                <th>Card Number</th>
                                <th>Expiry</th>
                                <th>CVV</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let payment of payments">
                                <td>{{payment.id}}</td>
                                <td>{{payment.status}}</td>
                                <td>{{payment.type}}</td>
                                <td>{{payment.card.name}}</td>
                                <td>{{payment.card.number}}</td>
                                <td>{{payment.card.expiry | date :'YY/MM'}}</td>
                                <td>{{payment.card.cvv}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div *ngSwitchCase='2'>
            <div class="my-5 mr-5 p-3">
                <div class="card-top my-3 mr-3 text-primary">
                    <h4 id="heading">Get Payments By Id</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="getByIdForm" (ngSubmit)="paymentById(getByIdForm)">
                        <div class="form-group">
                            <label for="paymentId" class="mx-2">Payment ID</label>
                            <select class="form-control" formControlName="paymentId">
                                <option value="" disabled>Select Payment ID</option>
                                <option [value]="payment.id" *ngFor="let payment of allPayments">{{payment.id}}</option>
                              </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary mt-3 shadow float-right" [disabled]="getByIdForm.invalid"
                                type="submit">Get Payment
                                Details</button>
                        </div>
                    </form>
                </div>
                <div class="card-body" *ngIf="(payment)">
                    <p class="mb-4 my-4 display-4">Payment details</p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Status</th>
                                <th>Type</th>
                                <th>Card Holder</th>
                                <th>Card Number</th>
                                <th>Expiry</th>
                                <th>CVV</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{payment.id}}</td>
                                <td>{{payment.status}}</td>
                                <td>{{payment.type}}</td>
                                <td>{{payment.card.name}}</td>
                                <td>{{payment.card.number}}</td>
                                <td>{{payment.card.expiry | date:'YY/MM'}}</td>
                                <td>{{payment.card.cvv}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div *ngSwitchCase='3'>
            <div class="card my-5 mr-5 p-3 align-items-left" name="placeOrder">
                <div class="card-top my-3 mr-3 text-primary">
                    <h4 id="heading">Update Payment</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="updateForm" (ngSubmit)="updatePayment(updateForm)">
                        <div class="form-group">
                            <label for="paymentId" class="mx-2">Payment ID</label>
                            <select class="form-control" formControlName="paymentId">
                                <option value="">Select Payment ID</option>
                                <option [value]="payment.id" *ngFor="let payment of allPayments">{{payment.id}}</option>
                              </select>
                        </div>
                        <div class="form-group">
                            <label for="status" class="mx-2">Payment Status</label>
                            <select class="form-control" formControlName="status">
                                <option value="Successful">Successful</option>
                                <option value="Pending">Pending</option>
                                <option value="Failed">Failed</option>
                              </select>
                        </div>
                        <div class="form-group">
                            <label for="type" class="mx-2">Payment Type</label>
                            <select class="form-control" formControlName="type">
                                <option value="Debit Card">Debit card</option>
                                <option value="Credit Card">Credit Card</option>
                              </select>
                        </div>
                        <div class="form-group">
                            <label for="name" class="mx-2">Card Holder Name</label>
                            <input type="text" id="name" formControlName="name" class="form-control"
                                placeholder="John Doe" required />
                        </div>
                        <div class="form-group">
                            <label for="cardNumber" class="mx-2">Card Number</label>
                            <input type="number" id="cardNumber" formControlName="number" class="form-control"
                                placeholder="1641 8823 1156 8909" required />
                        </div>
                        <div class="form-group">
                            <div><label for="expiry" class="mx-2">Expiry Date</label></div>
                            <select formControlName="month" class="col-6">
                                <!-- <option value="" disabled selected>Month</option> -->
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <select formControlName="year" class="col-6">
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="cvv" class="mx-2">CVV</label>
                            <input type="password" id="cvv" formControlName="cvv" class="form-control" placeholder=""
                                required />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary mt-3 shadow float-right" [disabled]="updateForm.invalid"
                                type="submit">Update Payment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div *ngSwitchCase='4'>
            <div class="my-5 mr-5 p-3">
                <div class="card-top my-3 mr-3 text-primary">
                    <h4 id="heading">Delete Payment</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="delForm" (ngSubmit)="delById(delForm)">
                        <div class="form-group">
                            <label for="orderId" class="mx-2">Payment ID</label>
                            <select class="form-control" formControlName="paymentId">
                                <option value="" disabled>Select Payment ID</option>
                                <option [value]="payment.id" *ngFor="let payment of allPayments">{{payment.id}}</option>
                              </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary mt-3 shadow float-right" [disabled]="delForm.invalid"
                                type="submit">Delete Payment Details</button>
                        </div>
                    </form>
                </div>
                <div class="card-body" *ngIf="(delete)">
                    <p class="mb-4 my-4 display-4">Payment deleted</p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Status</th>
                                <th>Type</th>
                                <th>Card Holder</th>
                                <th>Card Number</th>
                                <th>Expiry</th>
                                <th>CVV</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{delete.id}}</td>
                                <td>{{delete.status}}</td>
                                <td>{{delete.type}}</td>
                                <td>{{delete.card.name}}</td>
                                <td>{{delete.card.number}}</td>
                                <td>{{delete.card.expiry | date:'YY/MM'}}</td>
                                <td>{{delete.card.cvv}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>