<div class="row">
    <div class="col-5">
        <div class="card my-5 ml-5 p-3 align-items-left">
            <div class="card-top my-3 ml-3 text-primary">
                <h3>Manage Payments</h3>
            </div>

            <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn"
                name="getAllTab" (click)="click(1)">
                <h5>Browse All Payments</h5>
            </button>
            <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn"
                name="getByIdTab" (click)="click(2)">
                <h5>Browse Payments By Id</h5>
            </button>
            <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn"
                name="updateTab" (click)="click(3)">
                <h5>Update Payment</h5>
            </button>
            <button class="btn btn-light container text-secondary shadow mb-3 bg-white rounded pt-3 pl-3 pb-2 list-btn"
                name="deleteTab" (click)="click(4)">
                <h5>Remove Payment</h5>
            </button>
        </div>
    </div>

    <div class="col-7" [ngSwitch]="openForm">
        <div *ngSwitchCase='1'>
            <div class="card-top my-3 mr-3 text-primary">
                <h4 id="heading">All Paymnet Details</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="getAllForm" (ngSubmit)="allPayment(getAllForm)">
                    <div class="form-group">
                        <button class="btn btn-primary mt-4">Get Payment Details</button>
                    </div>
                </form>
            </div>
            <div *ngIf="(payments.length)">
                <p class="mb-4 display-4">Payment details</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Status</th>
                            <th>Type</th>
                            <th>Card Holder</th>
                            <th>Card Number</th>
                            <th>Expiry</th>
                            <th>CVV</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let payment of payments">
                            <td>{{payment.id}}</td>
                            <td>{{payment.status}}</td>
                            <td>{{payment.type}}</td>
                            <td>{{payment.card.name}}</td>
                            <td>{{payment.card.number}}</td>
                            <td>{{payment.card.expiry}}</td>
                            <td>{{payment.card.cvv}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div *ngSwitchCase='2'>
            <div class="card my-5 mr-5 p-3">
                <div class="card-top my-3 mr-3 text-primary">
                    <h4 id="heading">Get Payments By Id</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="getByIdForm" (ngSubmit)="paymentById(getByIdForm)">
                        <div class="form-group">
                            <label for="paymentId" class="mx-2">Payment ID</label>
                            <input type="number" formControlName="paymentId" id="paymentId" class="form-control"
                                placeholder="Enter Payment ID" required />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary mt-3 shadow float-right" [disabled]="getByIdForm.invalid"
                                type="submit">Get Payment
                                Details</button>
                        </div>
                    </form>
                </div>
                <div *ngIf="(payment)">
                    <p class="mb-4 display-4">Payment details</p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Status</th>
                                <th>Type</th>
                                <th>Card Holder</th>
                                <th>Card Number</th>
                                <th>Expiry</th>
                                <th>CVV</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{payment.id}}</td>
                                <td>{{payment.status}}</td>
                                <td>{{payment.type}}</td>
                                <td>{{payment.card.name}}</td>
                                <td>{{payment.card.number}}</td>
                                <td>{{payment.card.expiry}}</td>
                                <td>{{payment.card.cvv}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div *ngSwitchCase='3'>
            <div class="card my-5 mr-5 p-3 align-items-left" name="placeOrder">
                <div class="card-top my-3 mr-3 text-primary">
                    <h4 id="heading">Update Payment</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="paymentId" class="mx-2">Payment ID</label>
                            <input type="number" id="paymentId" name="paymentId" class="form-control"
                                placeholder="Enter Payment ID" required />
                        </div>
                        <div class="form-group">
                            <label for="status" class="mx-2">Payment Status</label>
                            <input type="text" id="status" name="status" class="form-control" placeholder="Status"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="type" class="mx-2">Payment Type</label>
                            <input type="text" id="type" name="type" class="form-control"
                                placeholder="Payment Type (Debit/Credit)" required />
                        </div>
                        <div class="form-group">
                            <label for="name" class="mx-2">Card Holder Name</label>
                            <input type="text" id="name" name="name" class="form-control" placeholder="John Doe"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="cardNumber" class="mx-2">Card Number</label>
                            <input type="number" id="cardNumber" name="cardNumber" class="form-control"
                                placeholder="1641 8823 1156 8909" required />
                        </div>
                        <div class="form-group">
                            <label for="expiry" class="mx-2">Expiry Date</label>
                            <input type="text" id="expiry" name="expiry" class="form-control" placeholder="MM/YY"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="cvv" class="mx-2">CVV</label>
                            <input type="password" id="cvv" name="cvv" class="form-control" placeholder="" required />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary mt-3 shadow float-right">Place Order</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div *ngSwitchCase='4'>
            <div class="card my-5 mr-5 p-3">
                <div class="card-top my-3 mr-3 text-primary">
                    <h4 id="heading">Delete Payment</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="delForm" (ngSubmit)="delById(delForm)">
                        <div class="form-group">
                            <label for="orderId" class="mx-2">Payment ID</label>
                            <input type="number" formControlName="paymentId" class="form-control" placeholder="Enter Payment ID" required />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary mt-3 shadow float-right" [disabled]="delForm.invalid"
                            type="submit">Delete Payment Details</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>