.from-top{
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.from-top-h2{
    padding-top: 30px;
    margin-top: 50px;
    font-family: serif;
    font-weight: 100;

}