<div class="my-2">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></li>
    </ol>
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/1600x600/?car,mercedes/" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4>Accelerate The Future</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1600x600/?car,audi/" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4>Here Comes The Future</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1600x600/?car,bmw/" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4>Above And Beyond</h4>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </a>
  </div>
</div>

<div class="container marketing my-4">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4" align="center">
      <img class="rounded-circle" src="https://www.cars24.com/js/20a46f2a85f41c18ea2de960b7d12e0a.svg"
        alt="Generic placeholder image" width="140" height="140">
      <h3>Buy in 1 Hour</h3>
      <p>At your place or ours</p>
      <p><a class="btn btn-info" routerLink='/products' role="button">View details »</a></p>
    </div>

    <div class="col-lg-4" align="center">
      <img src="https://www.cars24.com/js/a5e3ca09b05cb2818dfd3b83f98fffa2.svg" alt="We value your money" width="140"
        height="140">
      <h3>Best Price</h3>
      <p>In the entire market</p>
      <p><a class="btn btn-info" routerLink='/products'>View details »</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4" align="center">
      <img src="https://www.cars24.com/js/9ae5c18250a98a4523f5d98b3c6b5d1e.svg" alt="We do all the paperwork"
        width="140" height="140">
      <h3>Instant Appointment</h3>
      <p>Schedule an appointment just with a click</p>
      <p><a class="btn btn-info" routerLink='/appointment'>View details »</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading from-top-h2">Check out our latest collection of cars. It’ll blow your mind.
      </h2>
      <p class="lead from-top">Open the horizon with your favorite model and brand.
        Cars in which your moments will be memorable. Built for the common people.
        Built for the journet Ahead. Committted to being awesome. Create a living, Engineered to last.
        Designed for driving delight. Superiority defined.
      </p>
    </div>
    <div class="col-md-5">
      <img src="../../assets/car1.jpg" alt="" height="400" width="430">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading from-top-h2">Oh yeah, it’s that good. See for yourself.</h2>
      <p class="lead from-top">High-tech performance at Low-techvalue. A car for every person. Speed up the Future
        Ultimate driving machine A class of its own. Don't only dream it, Drive It.
        Awesome ideas are driven by you.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="../../assets/car5.jpg" alt="" height="400" width="430">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading from-top-h2">And lastly, this one. Checkmate.</h2>
      <p class="lead from-top">Cars that have passion on the road. Wheels like never before.
        The glorious speed. Imagine the unimaginable. Above and beyond. Ride like a boss</p>
    </div>
    <div class="col-md-5">
      <img src="../../assets/car4.jpg" alt="" height="400" width="430">
    </div>
  </div>

  <hr class="featurette-divider">


  <!-- /END THE FEATURETTES -->

</div>